fastapi==0.138.2
uvicorn==0.49.0
gunicorn==23.0.0
python-multipart==0.0.32
SQLAlchemy==2.0.51
GeoAlchemy2==0.20.0
psycopg2-binary==2.9.12
ultralytics==8.4.83
pillow==12.2.0
python-dotenv==1.2.2
opencv-python-headless==4.13.0.92
